
    <footer>
      <div class="row">
        <div class="small-12 columns">
          <div class="left">
            <font size=2>© Designed by 2016 <a href="https://github.com/mono/website">Mono</a> | <a href="mailto://xie.guigang@gcmodeller.org">xie.guigang@gcmodeller.org</a></font>
            <br>
            <div id="footer-notes">
<font face="Microsoft YaHei">| 藍思生物信息工程師工作站</font>
            </div>
          </div>
          <div class="right">
            <a href="RSS" title="RSS feed">
              <i class="fa fa-rss fa-2x"></i>
            </a>
            &nbsp;
            <a href="https://github.com/SMRUCC" title="GitHub repository">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="./assets/jquery.js"></script>
    <script src="./assets/foundation.js"></script>
    <script src="./assets/highlight.js"></script>
    <script src="./assets/jquery_002.js"></script>

    <script>
      // allow sub pages to run custom code
      if (typeof runScripts == 'function') {
        runScripts();
      }

      $(document).foundation();
      hljs.initHighlightingOnLoad();
      $(document).ready(function() {
        $('.image-link').magnificPopup({
          disableOn: 400,
          image: { verticalFit: false },
          type: 'image'
        });
      });
    </script>
  
  

</body>

</html>